<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      
      <!-- Left -->
  
      <!-- Right -->

      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>About us
            </h6>
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">FAQs</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Feedback</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Product Categories
            </h6>
            <p>
              <a href="#!" class="text-reset">ALLOPATHIC MEDICINES</a>
            </p>
            <p>
              <a href="#!" class="text-reset">AYURVEDHIC MEDICINES</a>
            </p>
            <p>
              <a href="#!" class="text-reset">PERSONAL CARE</a>
            </p>
            <p>
              <a href="#!" class="text-reset">BABY CARE</a>
            </p>
            <P>
              <a href="#!" class="text-reset">DIABETICS CARE</a>
            </P>
            
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful Services
            </h6>
            <p>
              <a href="#!" class="text-reset">Rapid delivery</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Health products</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Online Doctor Constultation</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Book Lab Test</a>
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
            <p><i class="fas fa-home me-3"></i>Karunya Medicalstore Ltd ,Tiruvalla,Pathanamathitta,Kerala-689544</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              karunyamedical@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 96561990777</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->